/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# VS Code
/.vscode

# PhpStorm
/.idea

# composer-git-hooks
/cghooks.lock

/.php-cs-fixer.cache
